a.login
{
	position:relative;
	top:10px; right:10px;
	font-size:20px;
	text-decoration:none;
	color:brown;
}

a.logout:in
{
	background: yellow;
	color: green;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
	width: 250px;
    height: 50px;
	
}
li button {
	display:block;
	width:250px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family:sans-serif;
	color: white;
	text-decoration:none;
	background: gray;
	border-radius:25px;
}

/*Hover state for top level links*/
li:hover button {
	background: orange;
	border-radius:25px;
	
}
